@font-face {
  font-family: "iconfont"; /* Project id 1850404 */
  src: url('//at.alicdn.com/t/font_1850404_sm67o2winzj.woff2?t=1628152823615') format('woff2'),
       url('//at.alicdn.com/t/font_1850404_sm67o2winzj.woff?t=1628152823615') format('woff'),
       url('//at.alicdn.com/t/font_1850404_sm67o2winzj.ttf?t=1628152823615') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconchiping:before {
  content: "\e637";
}

.iconshangsheng:before {
  content: "\e638";
}

.iconpaiming2:before {
  content: "\e639";
}

.iconpaiming1:before {
  content: "\e63a";
}

.iconjieyetongji:before {
  content: "\e63b";
}

.iconpaiming3:before {
  content: "\e63c";
}

.iconzhaoshengtongji:before {
  content: "\e63d";
}

.iconxiajiang:before {
  content: "\e63e";
}

.iconzhushi:before {
  content: "\e63f";
}

.iconjidijixiao:before {
  content: "\e640";
}

.iconchehui:before {
  content: "\e636";
}

.iconyichangtanhao:before {
  content: "\e635";
}

.iconbeibohuixueyuan:before {
  content: "\e62b";
}

.icondaishenhexueyuan:before {
  content: "\e62c";
}

.iconyitongguoxueyuan:before {
  content: "\e62d";
}

.icondaishenhe:before {
  content: "\e62e";
}

.icontuipeirenshu:before {
  content: "\e62f";
}

.iconzongrenshu:before {
  content: "\e630";
}

.iconyichangxueyuan:before {
  content: "\e631";
}

.iconyibaomingxueyuan:before {
  content: "\e632";
}

.iconyitongguo:before {
  content: "\e633";
}

.iconyibohui:before {
  content: "\e634";
}

.iconjichushuju:before {
  content: "\e61f";
}

.iconjiaoxuehuodongguanli:before {
  content: "\e620";
}

.iconjidiguanli:before {
  content: "\e621";
}

.iconjieyekaoshi:before {
  content: "\e622";
}

.iconkaoshiguanli:before {
  content: "\e623";
}

.iconrenyuanguanli:before {
  content: "\e624";
}

.icontongjibaobiao:before {
  content: "\e625";
}

.iconlunzhuanpeixun:before {
  content: "\e626";
}

.iconzhaoluguanli:before {
  content: "\e627";
}

.iconshiziguanli:before {
  content: "\e628";
}

.iconjihuaguanli:before {
  content: "\e629";
}

.iconshouye:before {
  content: "\e62a";
}

.iconxingbienv:before {
  content: "\e61b";
}

.iconzhongzhimima:before {
  content: "\e61c";
}

.iconshezhi:before {
  content: "\e61d";
}

.iconxingbienan:before {
  content: "\e61e";
}

.icondaijiaolaoshi:before {
  content: "\e619";
}

.icondaochu:before {
  content: "\e61a";
}
